<ion-header no-border>
<ion-toolbar>

  <ion-title>
    Inventário
  </ion-title>
</ion-toolbar>
  <ion-toolbar>
    <ion-searchbar mode="ios"  cancel-button-text placeholder="Search Havings"></ion-searchbar>
          <!-- <ion-icon slot="start" class="ion-margin-start" name="Search Havings" color="light"></ion-icon>
          <ion-input placeholder="Pesquisar"></ion-input> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="photo-cell" size="4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
      <img [src]="'https://picsum.photos/id/'+(17 + 3*i)+'/150'" alt="">
    </ion-col>
  </ion-row>
</ion-content>