.row{

    display: contents;

}
  
h6{
    margin-left: 4px;
    margin-top: 12px;
}

h3{
    text-align: center;
}
p{
    text-justify: distribute-all-lines;
}

.company-profile{
    padding: 16px 16px;
    color: #87cefa;

}

.profile-pic {
    
      margin: auto;
        // margin-left: 132px;
    
    }